body{
    background-color: rgb(243, 148, 163);
}

.nav-back{
    background-color: antiquewhite;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.nav-back a{
    color: black;
    text-decoration: none;
}